body {
  font-family: "Mukta", sans-serif;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 20px;
}

p {
  font-size: 18px;
}

.subtitle {
  border-bottom: 1px solid #4d503f;
  width: 50%;
}

/* FRONTPAGE */

.frontpage-banner {
  position: relative;
  color: #fff;
  background-color: #fff;
  background: linear-gradient(0deg, #2c2e24 0, #4d503f);
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px;
}

.frontpage-banner__inner {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding-top: 10px;
  box-sizing: border-box;
}

.frontpage-content {
  position: relative;
  width: 1140px;
  margin: auto auto auto auto;
  margin: 20px auto 0 auto;
}

/* .frontpage-banner__subtitle. {
  font-weight: 700;
  line-height: 1.4;
  color: #fff;
  margin-bottom: 10000px;
} */

.frontpage-search {
  border-radius: 3px;
  background-color: #585b48;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 25px 45px;
  max-width: 990px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 24px;
  margin-top: 20px;
}
.frontpage-search__input {
  display: block;
  border: none;
  border-radius: 4px;
  height: 44px;
  width: 100%;
  padding: 0 15px;
  font-size: 16px;
  -webkit-appearance: none;
}

.frontpage-search-btn {
  border: none;
  background-color: #d08c60;
  border-radius: 3px;
  padding: 0;
  min-width: 140px;
  height: 44px;
  margin-left: 20px;
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
  text-align: center;
}

/* 
 

.frontpage-banner {
  element.style {
  }
  .frontpage-banner__inner {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding-top: 50px;
    box-sizing: border-box;
  }
}

.frontpage-search {

}

*/

/* Article Styling */

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.author-text {
  font-size: 22px;
  float: left;
  margin-top: 30px;
  margin-left: 10px;
}

.container {
  width: 1140px;
  margin: 20px auto 0 auto;
}

.blog-post {
  width: 75%;
  float: left;
  padding-right: 30px;
  position: relative;
}

.other-posts {
  width: 25%;
  float: left;
}

.author-box {
  padding-top: 20px;
  border-top: 1px solid rgb(75, 74, 74);
}

.author-box img {
  width: 150px;
  border-radius: 50%;
}

.date {
  position: absolute;
  top: 10px;
  right: 30px;
}

/* Article */

.article {
  position: relative;
  padding-top: 40px;
  padding-bottom: 20px;
  margin-right: 50px;
  width: 1140px;
}

.article_codebox {
  position: relative;
  margin: 1.5em 0;
  overflow: auto;
}

.line-numbers-rows {
  /* counter-reset: e;
  display: flex;
  flex-direction: row;
  padding: 1em 0 0.8em;
  border: 0;
  background: #e7e5e3;
  width: auto; */
}

div#id_div > p:first-of-type {
  background: #ff0000;
}
