body {
  font-family: "Mukta", sans-serif;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 20px;
}

p {
  font-size: 18px;
}

/* FRONTPAGE */

/* Frontpage starts */

/* #373738 */

.frontpage-banner {
  position: relative;
  color: #fff;
  background-color: #fff;
  background: linear-gradient(0deg, #373738 0, rgb(29, 30, 33));
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px;
}

.frontpage-banner__inner {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding-top: 10px;
  box-sizing: border-box;
}

/* .frontpage-banner__subtitle. {
  font-weight: 700;
  line-height: 1.4;
  color: #fff;
  margin-bottom: 10000px;
} */

.frontpage-search {
  border-radius: 3px;
  background-color: #373636;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 25px 45px;
  max-width: 990px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 24px;
  margin-top: 20px;
}
.frontpage-search__input {
  display: block;
  border: none;
  border-radius: 4px;
  height: 44px;
  width: 100%;
  padding: 0 15px;
  font-size: 16px;
  -webkit-appearance: none;
}

.frontpage-search-btn {
  border: none;
  background-color: #fd9460;
  border-radius: 3px;
  padding: 0;
  min-width: 140px;
  height: 44px;
  margin-left: 20px;
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
  text-align: center;
}

/* 
 

.frontpage-banner {
  element.style {
  }
  .frontpage-banner__inner {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding-top: 50px;
    box-sizing: border-box;
  }
}

.frontpage-search {

}




*/

/* Frontpage Ends */
